:root {
  --mui-palette-common-black: #0D0D0D;
  --mui-palette-common-white: #FAFAFA;

  --mui-palette-primary-main: #275963;
  --mui-palette-primary-light: #35808D;
  --mui-palette-primary-dark: #1C4145;
  --mui-palette-primary-contrastText: #FAFAFA;

  --mui-palette-text-primary: #111111;
  --mui-palette-text-secondary: #333333;
  --mui-palette-text-disabled: #555555;
  
  --mui-palette-divider: rgba(0,0,0,0.1);
  
  --mui-palette-background-default: #F4F4F5;
  --mui-palette-background-paper: #FAFAFA;
}

[data-mui-color-scheme="dark"] {
  --mui-palette-common-black: #0D0D0D;
  --mui-palette-common-white: #FAFAFA;

  --mui-palette-primary-main: #66A8C2;
  --mui-palette-primary-light: #87BACF;
  --mui-palette-primary-dark: #4289A3;
  --mui-palette-primary-contrastText: #FAFAFA;

  --mui-palette-text-primary: #F0F0F0;
  --mui-palette-text-secondary: #CCCCCC;
  --mui-palette-text-disabled: #A3A3A3;
  
  --mui-palette-divider: rgba(255,255,255,0.05);
  
  --mui-palette-background-default: #111113;
  --mui-palette-background-paper: #18181B;
}