:root {
  --mui-palette-common-black: #09090b;
  --mui-palette-common-white: #fafafa;

  --mui-palette-primary-main: #3A7992;
  --mui-palette-primary-light: #4897B6;
  --mui-palette-primary-dark: #2B5B6E;
  --mui-palette-primary-contrastText: #fafafa;

  --mui-palette-text-primary: #27272a;
  --mui-palette-text-secondary: #71717a;
  --mui-palette-text-disabled: #a1a1aa;
  
  --mui-palette-divider: rgba(0,0,0,0.1);
  
  --mui-palette-background-default: #F4F4F5;
  --mui-palette-background-paper: #FAFAFA;
}

[data-mui-color-scheme="dark"] {
  --mui-palette-common-black: #09090b;
  --mui-palette-common-white: #fafafa;

  --mui-palette-primary-main: #4897B6;
  --mui-palette-primary-light: #6DACC5;
  --mui-palette-primary-dark: #2B5B6E;
  --mui-palette-primary-contrastText: #fafafa;

  --mui-palette-text-primary: #f4f4f5;
  --mui-palette-text-secondary: #a1a1aa;
  --mui-palette-text-disabled: #71717a;
  
  --mui-palette-divider: rgba(255,255,255,0.05);
  
  --mui-palette-background-default: #111113;
  --mui-palette-background-paper: #18181B;
}